* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./img/1\ \(2\).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    padding-top: 10vh;
}

.content-box {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.575);
    min-height: 300px;
    margin: 0 auto;
    font-size: 0;
    padding: 2rem;
}

.blue {
    background-color: blue;
    margin-left: 1%;
}

.borderRad {
    border-radius: 10px;
}

.box {
    vertical-align: top;
    padding: 1rem;
    min-height: 400px;
    display: inline-block;
    width: 49%;
    font-size: 1rem;
}

.red {
    background-color: red;
    margin-right: 1%;
}